// Custom styles.
ul {
  padding-inline-start: 20px;
  margin:0
}
.posts-expand .post-body ul li {
    list-style: disc;
}

//themes\next\source\css\_schemes\Pisces\_layout.styl
.content-wrap {
  +mobile() {
    //设置手机模式padding为0
    padding: 0px;
  }
}

p {
    margin: 0 0 0 0;
}

blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
        padding: 0 7px;
        margin:0
}

h2, h3, h4, h5, h6 {
    margin: 15px 0 15px;
}

pre, .highlight {
    margin: 0px 0;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
