// Custom styles.

body {
    font-size: 16px;
    line-height: 1.7;
    color: #2f2f2f;
    //background: #f5f7f9;
}

ul {
  margin:0 0 20px 0;
  //上右下左
  padding: 0 0 0 20px;
}
.posts-expand .post-body ul li {
    list-style: disc;
}

//themes\next\source\css\_schemes\Pisces\_layout.styl
.content-wrap {
  +mobile() {
    //设置手机模式padding为0
    padding: 0px;
  }
}

p {
    margin: 0 0 20px 0;
}
//引文 >
blockquote {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
        padding: 0 10px;
        margin:0 0 20px 0
}

header h1{
font-size: 26px;
color: #2f2f2f;
}
.post-body h1,h2, h3, h4, h5, h6 {
    margin: 0 0 20px 0;
    padding: 0
    color: #2f2f2f;
    //设置正文中的字体大小
    font-weight: 400;
}

.posts-expand .post-body h1 {
font-size: 26px;
    padding: 0;
}

.posts-expand .post-body h2 {
    padding: 0;
        font-size: 24px;
}
.posts-expand .post-body h3 {
font-size: 22px;
 padding: 0;
}
.posts-expand .post-body h4 {
font-size: 20px;
 padding: 0;
}
.posts-expand .post-body h5 {
font-size: 18px;
 padding: 0;
}
.posts-expand .post-body h6 {
font-size: 16px;
 padding: 0;
}


code{
    color: #c7254e;
}

//代码区域 控制下面间距
.post-body .highlight {
    margin:0 0 20px 0
}

//更改正文的链接
p a {
   color: #3194d0;
   border-bottom: 1px solid #ffff;
}

//文章顶部阅读的眼睛图标
.fa-file-o:before {
    content: "\f06e";
}

.span {
    margin: 0px 0 0 6px;
}
